.AddSkateSpotForm {
  min-height: 80vh;
  padding: 0px 12px 12px;
}

.AddSkateSpotForm > div > div {
  margin-bottom: 18px;
}

.AddSkateSpotForm__loader-container {
  width: 100%;
  min-height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.AddSkateSpotForm__image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.AddSkateSpotForm__image-container:before {
  content: "";
  display: block;
	padding-top: 56.25%;
}

.AddSkateSpotForm__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsla(360, 0%, 75%, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.AddSkateSpotForm__image > img {
  width: 100%;
  object-fit: cover;
}

.AddSkateSpotForm__image-button {
  background: hsla(0, 0%, 100%, 1);
  border-radius: 50%;
}

.AddSkateSpotForm__buttons {
  margin-top: 18px;
  text-align: right;
}
