.CurrentSpot {
  min-height: 80vh;
  padding: 0px 6px 6px;
}

.CurrentSpot > div {
  margin-bottom: 18px;
}

.CurrentSpot__loader-container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.CurrentSpot__image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.CurrentSpot__loading-container {
  height: calc(80vh - 32px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.CurrentSpot__image-container:before {
  content: "";
  display: block;
	padding-top: 56.25%;
}

.CurrentSpot__media-wrapper {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.CurrentSpot__media-container {
  position: relative;
  width: calc(50% - 3px);
  overflow: hidden;
  margin-bottom: 6px;
}

.CurrentSpot__media-container:before {
  content: "";
  display: block;
	padding-top: 100%;
}

.CurrentSpot__image-container:after {
  content: "";
  position: absolute;
  z-index: 2;

  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 65%, rgba(0,0,0,0.9) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 65%,rgba(0,0,0,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 65%,rgba(0,0,0,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.CurrentSpot__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsla(360, 0%, 75%, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.CurrentSpot__media {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsla(360, 0%, 75%, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.CurrentSpot__image > img {
  width: 100%;
  object-fit: cover;
}

.CurrentSpot__media > img {
  width: 100%;
  object-fit: cover;
  min-height: 100%;
}

.CurrentSpot__media-container:last-child {
    margin-bottom: 36px;
}

.CurrentSpot__info {
  color: #f0f0f0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  padding: 18px;
}

.CurrentSpot__info h1 {
  font-weight: 400;
  line-height: 1;
  margin: 0 0 12px;
}


.CurrentSpot__info p {
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

.CurrentSpot__image-button {
  background: hsla(0, 0%, 100%, 1);
  border-radius: 50%;
}

.CurrentSpot__buttons {
  margin-top: 18px;
  text-align: right;
}

.CurrentSpot__actions {
  position: absolute;
  bottom: 0;
  z-index: 1;
  height: 36px;
  width: 100%;
  background: hsla(360, 100%, 1%, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CurrentSpot__video {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
}
